body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0;padding:0;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;}
img{border:none; vertical-align:top;}
table{border-collapse:collapse;}
input,textarea{outline:none;}
textarea{ resize:none;overflow:auto;}
body { font-size:12px; font-family: Arial, sans-serif; color:#000000;}


body{
    background: gray;
}
.bg_index{
   width: 1200px;
   margin: 0 auto;
}
.bg_top{
    height: 80px;
    background:#4c83ff;
    border-radius: 10px;
    margin-bottom: 50px;
}
.bg_top span{
    font-size: 20px;
    color: #ffffff;
    line-height: 80px;
    margin: 0 310px 0 70px;
}
.bg_top font{
    font-size: 30px;
    color: #ffffff;
    line-height: 80px;
    font-weight: bolder;
}
.bg_content{
    padding:0 20px;
}
.bg_left{
    width: 17%;
    background: #d4d4d4;
    font-weight: bolder;
    float: left;
}
.bg_left a{
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    color: #000000;
    margin: 
}
#bg_blue{
    background: blue;
    font-size: 34px;
    color: #ffffff;
}
.bg_right{
    float: right;
    width: 78%;
    height: 100px;
    font-size: 26px;
    border: 2px solid #000000;
}
.bg_right tr{
    height: 60px;
    line-height: 60px;
}
.bg_right th{
    background: #4472c4;
    color: #ffffff;
    border: 2px solid #000000;
}
.bg_right td{
    text-align: center;
    background: #cfd5ea;
    border: 2px solid #000000;
}
.bg_page{
    clear: both;
    margin: 120px 0 0 350px;
}
.bg_page a{
    display: inline-block;
    font-size: 20px;
    background: #dad9dc;
    margin: 40px 20px 0;
    padding: 10px 15px;
    border-radius: 10px;
    float: left;
}
.bg_page a:hover, #bg_active{
    background: #9b9b9b;
}

.bg_form{
    float: right;
    width: 73%;
    font-size: 26px;
    background: #e2e2e2;
    outline: none;
    padding-left: 5%;
    padding-top: 50px;
}
.bg_form input, .bg_form select{
    height: 30px;
    line-height: 30px;
    width: 200px;
    margin-bottom: 20px;
}
#bg_sub{
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: #999999;
    font-size: 26px;
    position: relative;
    left: 400px;
    top: 40px;
    margin-bottom: 70px;
    outline: none;
    border: none;
    cursor: pointer;
}

#bg_left_active{
    background: #999999;
}
.bg_success{
    display: block;
    font-size: 30px;
    float: right;
    width: 78%;
    text-align: center;
    padding-top: 130px;
    color: #ffffff;
}