@charset "utf-8";
/* CSS Document */

/* reset */
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,textarea,table,th,td,select,img,div,dl,dt,dd,input{ margin:0; padding:0; }
em { font-style:normal; }
img{ border:none;vertical-align:top;/*谨慎使用*/ }
li{ list-style:none; }
/*table { border-collapse:collapse; }/*表格在默认状态下，边框与边框之间会有一定的空隙，border-collapse:collapse;可以消除边框与边框之间的间距*/
input,select,textarea{ outline:none; }/*无轮廓*/
textarea { resize:none; overflow:auto; }
a{ text-decoration:none; color:black; }
a:hover{ color:#eb0e1f !important; }
body { width:100%; font-size:16px; font-family:"Microsoft Yahei"; }

.active{ color:#eb0e1f; }
.left{ float:left; }
.right{ float:right;}

#top,#footer,#botoom{ width:100%; margin:0 auto; }
#search,#nav,#content{ width:1200px; margin:0 auto; }

/*顶部*/
#top{
	height:30px;
	background:#f5f5f5;
	font-size:16px;
	line-height:30px; 
}
#top .text{
	width:1200px;
	height:30px;
	margin:0 auto;
}
#top li{
	float:left;
	padding-left:20px;
}
/*搜索*/
#search{
	height:80px;
	margin:50px auto;
}
#search form{
	display:inline-block;
	width:730px;
	height:48px;
	margin:6px 0 0 74px;
}
#search .text{
	width:586px;
	height:44px;
	border:2px solid #fa0909;
	padding:0 15px;
	font-size:18px;
	vertical-align:middle;
}
#search .submit{
	width:96px;
	height:48px;
	border:none;
	font-size:22px;
	font-family:"微软雅黑";
	color:#fff;
	background:red;
	vertical-align:middle;
}
#search ul{
	padding-left:240px;
}
#search li{
	float:left;
	padding-left:20px;
}
#search .hot{
	padding-left:240px;
}
#search .hot a{
	color:#9e9898;
	margin:0 20px;
}
/*导航*/
#nav{
	height:50px;
	font-size:20px;
	line-height:50px;
}
#nav .list{
	width:300px;
	height:50px;
	background:#eb0e1f;
	display:inline-block;
}
#nav p{
	padding-left:20px;
	color:#fff;
	line-height:50px;
	background:url(../images/index/nav_list.gif) 250px 15px  no-repeat;
}
#nav ul{
	width:900px;
	float:right;
}
#nav li{
	float:left;
	padding-left:40px;
}
/*中间内容*/
.messg{
	width:1198px;
	height:1225px;
	margin:auto;
	border:1px solid red;
	display:block;
	}
#box1 p{
	padding-left:22px;
	padding-top:26px;
	padding-bottom:33px;
	font-family:微软雅黑 Regular;
	font-size:24px;
	color:#9c9c9c;	
	}
#box1 a{
	color:#9c9c9c;
	cursor:pointer;	
	}
#box2{
	width:188px;
	float:left;
	margin-left:42px;
	}
#box2 span{
	color:#ff4614;
	padding-left:24px;
	font-size:36px;
	fond-family:楷体 Regular;
	}
#box2 li{
	text-align:center;
	fond-family:楷体 Regular;
	font-size:30px;
	padding-top:36px;
	}
#box3{
	float:right;
	width:896px;
	border:1px solid #ebebeb;
	}
#box3_top{
	height:54px;
	background-color:#ddeaff;}
#box3_top p{
	float:left;
	color:#97bcff;
	font-size:24px;
	margin-top:8px;
	margin-left:15px;
	}
#box3_top span{
	margin-top:10px;
	padding-right:24px;
	float:right;
	color:#ff2828;
	font-size:18px;
	}
#box3_mid{
	font-size:31px;
	}
#box3_mid label{
	vertical-align:middle;
	padding:10px;
	color:red;
	}
#box3_mid p{
	color:red;
	font-size:18px;
	display:inline;
	margin-left:35px;
	}
#box3_mid .li1,#box3_mid .li2,#box3_mid .li3{
	margin-top:70px;
	margin-left:72px;
	margin-bottom:40px;
	}

#box3_bottom{
	height:52px;
	margin-left:300px;
	margin-bottom:260px;
	}
#box3_bottom li{
	width:110px;
	height:42px;
	float:left;
	padding-top:16px;
	margin-top:180px;
	margin-bottom:504px;
	text-align:center;
	font-size:20px;
	color:#fff;
	cursor:pointer;
	}
#box3_bottom #cancel{
	float:left;
	margin-left:80px;
	}

/*下方*/
#footer{
	height:450px;
	background:#f5f5f5;
}
#footer .upper{
	width:1200px;
	height:120px;
	padding-top:60px;
	margin:0 auto;
}
#footer .upper li{
	float:left;
	width:250px;
	padding:0 25px;
	color:#9e9898;
	text-align:center;
}
#footer .upper span{
	font-size:40px;
	color:#000;
}
#footer .lower{
	width:1200px;
	height:269px;
	border-top:1px dashed #9e9898;
	margin:0 auto;
}
#footer .lower ul{
	width:200px;
	padding-top:70px;
	float:left;
	text-align:center;
}
#footer .lower p{
	font-size:26px;
}
#footer .lower a{
	font-size:18px;
	color:#9e9898;
}
#footer .lower .service{
	width:370px;
	float:right;
	padding:70px 0 0 30px;
	text-align:left;
}
#footer .service h1{
	font-size:26px;
	font-weight:normal;
}
#footer .service h2{
	font-size:26px;
	color:#d32020;
	float:left;
	border:none;
}
#footer .service h3{
	width:230px;
	height:34px;
	line-height:34px;
	display:inline-block;
	border:1px solid #444; 
}
#footer .service span{
	background:#444;
	color:#fff;
	padding:5px 20px;
}
/*底部*/
#botoom{
	height:150px;
	background:#444;
}
#botoom .relatives{
	padding-top:40px;
	text-align:center;
	color:#fff;
} 
#botoom .relatives a{
	padding:0 30px;
	color:#fff;
}